<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="asv_imu" params="update_rate:=10">
    <link name="imu_link">
      <visual>
        <geometry>
          <box size="0.05 0.025 0.05" />
        </geometry>
        <material
          name="">
          <color
            rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="0.05 0.025 0.005" />
        </geometry>
      </collision>
      <inertial>
        <mass value="0.1"/>
        <inertia 
        ixx="0.00000542" 
        ixy="0.0" 
        ixz="0.0" 
        iyy="0.00002104" 
        iyz="0.0" 
        izz="0.00002604"/>
      </inertial>
    </link>
    <joint name="imu_joint" type="revolute">
      <axis xyz="0 0 1"/>
      <limit effort="1000.0" lower="0.0" upper="0" velocity="0"/>
      <origin xyz="0 0 0.1" rpy="0 0 0"/>
      <parent link="base_link"/>
      <child link="imu_link"/>
    </joint>
    <gazebo reference="imu_link">
      <sensor type="imu" name="imu_sensor">
        <topic>imu</topic>
        <update_rate>${update_rate}</update_rate>
        <gz_frame_id>imu_link</gz_frame_id>
        <imu>
          <angular_velocity>
            <x>
              <noise type="gaussian">
                <mean>0</mean>
                <stddev>0.009</stddev>
                <bias_mean>0.00075</bias_mean>
                <bias_stddev>0.005</bias_stddev>
                <dynamic_bias_stddev>0.00002</dynamic_bias_stddev>
                <dynamic_bias_correlation_time>400.0</dynamic_bias_correlation_time>
                <precision>0.00025</precision>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0</mean>
                <stddev>0.009</stddev>
                <bias_mean>0.00075</bias_mean>
                <bias_stddev>0.005</bias_stddev>
                <dynamic_bias_stddev>0.00002</dynamic_bias_stddev>
                <dynamic_bias_correlation_time>400.0</dynamic_bias_correlation_time>
                <precision>0.00025</precision>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0</mean>
                <stddev>0.009</stddev>
                <bias_mean>0.00075</bias_mean>
                <bias_stddev>0.005</bias_stddev>
                <dynamic_bias_stddev>0.00002</dynamic_bias_stddev>
                <dynamic_bias_correlation_time>400.0</dynamic_bias_correlation_time>
                <precision>0.00025</precision>
              </noise>
            </z>
          </angular_velocity>
          <linear_acceleration>
            <x>
              <noise type="gaussian">
                <mean>0</mean>
                <stddev>0.021</stddev>
                <bias_mean>0.05</bias_mean>
                <bias_stddev>0.0075</bias_stddev>
                <dynamic_bias_stddev>0.000375</dynamic_bias_stddev>
                <dynamic_bias_correlation_time>175.0</dynamic_bias_correlation_time>
                <precision>0.005</precision>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0</mean>
                <stddev>0.021</stddev>
                <bias_mean>0.05</bias_mean>
                <bias_stddev>0.0075</bias_stddev>
                <dynamic_bias_stddev>0.000375</dynamic_bias_stddev>
                <dynamic_bias_correlation_time>175.0</dynamic_bias_correlation_time>
                <precision>0.005</precision>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0</mean>
                <stddev>0.021</stddev>
                <bias_mean>0.05</bias_mean>
                <bias_stddev>0.0075</bias_stddev>
                <dynamic_bias_stddev>0.000375</dynamic_bias_stddev>
                <dynamic_bias_correlation_time>175.0</dynamic_bias_correlation_time>
                <precision>0.005</precision>
              </noise>
            </z>
          </linear_acceleration>
          <orientation_reference_frame>
            <localization>ENU</localization>
          </orientation_reference_frame>
        </imu>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>
