<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="asv_gps" params="update_rate:=10">
    <link name="gps_link">
      <visual>
        <geometry>
          <box size="0.035 0.035 0.02" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.28 0.28 0.28 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.035 0.035 0.02" />
        </geometry>
      </collision>
      <inertial>
        <mass value="0.1"/>
        <inertia 
        ixx="0.000015" 
        ixy="0.0" 
        ixz="0.0"
		    iyy="0.000015" 
        iyz="0.0" 
        izz="0.000015"/>
      </inertial>
    </link>
    <joint name="gps_joint" type="revolute">
      <axis xyz="0 0 1"/>
      <limit effort="1000.0" lower="0.0" upper="0" velocity="0"/>
      <origin xyz="-0.225 -0.25 0.5" rpy="0 0 0" />
      <parent link="base_link" />
      <child link="gps_link" />
    </joint>

    <gazebo reference="gps_link">
      <sensor name="navsat" type="navsat">
        <topic>gps</topic>
        <always_on>1</always_on>
        <update_rate>${update_rate}</update_rate>
        <gz_frame_id>gps_link</gz_frame_id>
        <!--<topic>${namespace}/${sensor_namespace}gps/gps/fix</topic>-->
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>


